.head{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid;
}

.instagram{
    width: 20%;
    height: auto;
    float: left;
    margin-left: 15%;
}

.logo{
    width: 5%;
    height: auto;
    /* float: right; */
    margin-left: 45%;
    margin-top: auto;
    margin-bottom: auto;
}